#footer-top {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    color: var(--second-text-color);

    .row {
        padding: 2.5rem 0;
        background-image: url('../img/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-position: right;

        .col-auto {
            margin-right: 1.5rem;

            h5 {
                color: var(--first-text-color);
                margin-bottom: 1rem;
                font-weight: bold;
            }

            ul {
                margin-bottom: 1.3rem;

                a {
                    text-decoration: none;
                    color: var(--second-text-color);
                    font-size: .875rem;
                }

                a:hover {
                    color: var(--first-text-color);
                    transition: 0.2s;
                }
            }
        }

        p, a {
            font-size: .875rem;
        }
    }
}

#footer-bottom {
    background-color: var(--secondary-bg-color);
    padding: 1.875rem 0;
    color: var(--first-text-color);
    
    .ms-btn {
        border: none;
        font-size: inherit;
        background-color: transparent;
        cursor: pointer;
    }
    .ms-btn-secondary {
        border: .125rem solid var(--primary-color);
        padding: 1rem .875rem;
        color: inherit;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }
    .social-box {
        display: flex;
        align-items: center;

        .social-box__text {
            color: var(--primary-color);
            font-size: 1.1rem;
            margin-right: 1.5rem;
        }

        a:not(:last-child) {
            margin-right: 1rem;
        }
    }
}